<head>
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="wrapper">

    <div class="sidebar" id="collapseExample">
      <h2>MH</h2>

      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/hospitals">Hospitals</a></li>
        <li><a href="/appointement">Appointements</a></li>
        <li><a href="#">Patients</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/login">Log Out</a></li>
      </ul>

    </div>

    <div class="main_content">
      <div class="header">

      </div>
      <div class="app">
        <div style="margin-left: 70px;" class="container">
          <div class="row">
            <div class="col-sm-3"><button style="width: 250px;height:90px;color: white;" class="btn btn-warning"><i
                  class="fa fa-user"></i> Patients</button>
            </div>
            <div class="col-sm-3"><button style="width: 250px;height:90px;color: white;" class="btn btn-info"><i
                  class="fa fa-hopital"></i> Hospitals</button>
            </div>
            <div class="col-sm-3"><button style="width: 250px;height:90px;color: white;" class="btn btn-dark"><i
                  class="fa fa-calendar"></i> Appointements</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
