<div class="container">
  <div style="margin-left: 250px;line-height: 15px;margin-top: 20px;" class="home">
    <div class="container">
      <div class="row">
        <div class="col-sm-3"><button style="width: 250px;height:90px;color: white;" class="btn btn-warning"><i
              class="fa fa-user"></i> Patients</button>
        </div>
        <div class="col-sm-3"><button style="width: 250px;height:90px;color: white;" class="btn btn-info"><i
              class="fa fa-home"></i> Hospitals</button>
        </div>
        <div class="col-sm-3"><button style="width: 250px;height:90px;color: white;" class="btn btn-dark"><i
              class="fa fa-calendar"></i> Appointements</button>
        </div>
      </div>
    </div>
  </div>

</div>
